#Left{
    width: 100%;
}
#Left>#gnList{
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: black;
    font-weight: 700;
}
#Left>#leftGoods,#Left>#leftOrders,#Left>#leftUser{
    width: 100%;
    list-style: none;
    color: white;

}
#Left>#leftGoods>li,#Left>#leftOrders>li,#Left>#leftUser>li{
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: white;
}
#Left>#leftGoods>li:first-child,#Left>#leftOrders>li:first-child,#Left>#leftUser>li:first-child{
    background-color: mediumseagreen;
    font-weight: 700;
}
#Left>#leftGoods>li>a,#Left>#leftOrders>li>a,#Left>#leftUser>li>a{
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-decoration: none;
    color: darkgray;
}
